## Data Cleaning with Pandas

In [2]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

Functions and methods to keep for life:

##### Pandas

* .isna()
* .fillna()
* .values_counts()
* .to_csv()
* .unique()
* .to_datetime()
* .apply()
* .dtypes

###### String Ops

* .lower() / .upper() / .capitalize()
* .strip()
* .split()
* .replace()
* .startswith() / .endswith()

###### DateTime

* .day() / .week() / .year() / .month()
* .to_datetime()
* .time()

In [3]:
import pandas as pd
import numpy as np

In [9]:
file1 = pd.read_csv('file1.csv')
file2 = pd.read_csv('file2.txt', sep = '\t')

FileNotFoundError: [Errno 2] No such file or directory: 'file1.csv'

In [4]:
data = pd.concat([file1,file2])
data

      CONTROLN STATE  GENDER      HV1  ...  TCODE   DOB  DOMAIN TARGET_D
0        44060    FL       M   AAA896  ...      1  1901      C2    100.0
1        96093    IL       M   537.00  ...      0     0      T2      7.0
2        43333    FL       F   725.00  ...      0  2501      C2      5.0
3        21885    NC       M  AAA1095  ...      0  2208      T2     38.0
4       190108    FL       F   995.00  ...     28     0      C2      5.0
...        ...   ...     ...      ...  ...    ...   ...     ...      ...
1010    161838    CA       F     1953  ...      0  4212      C2     14.0
1011    161838    CA       F     1953  ...      0  4212      C2     14.0
1012    138311    AZ  Female     1708  ...      2  1403      S1     20.0
1013    123469    TX       M      561  ...      0     0      T2      5.0
1014    135341    AZ  Female      700  ...      0     0      C2     12.0

[2022 rows x 17 columns]

In [5]:
data.columns = data.columns.str.lower()
data

      controln state  gender      hv1  ...  tcode   dob  domain target_d
0        44060    FL       M   AAA896  ...      1  1901      C2    100.0
1        96093    IL       M   537.00  ...      0     0      T2      7.0
2        43333    FL       F   725.00  ...      0  2501      C2      5.0
3        21885    NC       M  AAA1095  ...      0  2208      T2     38.0
4       190108    FL       F   995.00  ...     28     0      C2      5.0
...        ...   ...     ...      ...  ...    ...   ...     ...      ...
1010    161838    CA       F     1953  ...      0  4212      C2     14.0
1011    161838    CA       F     1953  ...      0  4212      C2     14.0
1012    138311    AZ  Female     1708  ...      2  1403      S1     20.0
1013    123469    TX       M      561  ...      0     0      T2      5.0
1014    135341    AZ  Female      700  ...      0     0      C2     12.0

[2022 rows x 17 columns]

In [6]:
data = data.rename(columns={'controln':'id',
                            'hv1':'median_home_val',
                            'ic1':'median_household_income'})

In [1]:
data.isna() #.sum()

NameError: name 'data' is not defined

In [ ]:
# choose threshhold to drop NaNs

In [ ]:
# Replacing/imputing null values

data[data['gender'].isna()==True] # checking rows that are null based on a specific column

,id,state,gender,median_home_val,median_household_income,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
15,73699,MI,NaN,890,463,523.0,1,9493,5,53,474.0,512,11.285714,1,5102,S1,15.0
21,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
22,111795,AR,NaN,603,208,341.0,2,12038,1,70,264.0,288,5.000000,0,0,0,5.0
54,190671,CA,NaN,2143,280,373.0,63,12935,29,36,353.0,328,9.260870,0,1901,0,14.0
77,156324,Cali,NaN,2016,431,497.0,51,17882,11,53,465.0,459,8.750000,0,0,S1,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,16247,NC,NaN,576,289,323.0,0,10642,1,84,308.0,304,8.923077,2,0,R2,10.0
830,18038,NC,NaN,548,197,300.0,7,10044,0,83,246.0,259,12.375000,0,0,R2,16.0
989,105371,KS,NaN,208,201,296.0,0,11136,0,79,242.0,255,17.176471,0,3204,R3,20.0
1001,167039,CA,NaN,3201,497,591.0,92,19656,9,72,552.0,539,5.000000,0,0,S1,5.0
1003,151653,CA,NaN,1455,376,426.0,7,14860,19,39,417.0,393,6.350000,0,2401,U3,10.0

In [ ]:
# data = data[data['ic2'].isna()==False]

In [ ]:
# Some numpy
data['median_home_val'].mean() # data.dtypes

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Challenge - debugging

data = data.dropna() # axis=1   # subset=['median_home_val']

In [ ]:
data['ic4'].mean()

442.10420944558524

#### ------

In [ ]:
# Replacing null values for categorical variables

data['gender'].value_counts()
# len(data[data['gender'].isna()==True])  # number of missing values

F          979
M          760
male        60
female      46
U           36
Female      24
Male        15
feamale     15
J           13
Name: gender, dtype: int64

In [ ]:
data['gender'] = data['gender'].fillna('F')
# len(data[data['gender'].isna()==True]) # now this number is 0

In [ ]:
# Exporting this processed data to a csv
data.to_csv('merged_clean_ver1.csv')

In [ ]:
# lambdas

# lambda expressions
y = lambda x: x+2
print(y(2))

4

In [ ]:
square = lambda x: x*x
square(4)

16

In [ ]:
addition = lambda x,y : x+y
addition(1,3)

4

In [ ]:
lst = [1,2,3,4,5,6,7,8,10]

new_list = []

for item in lst:
    new_list.append(square(item))
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 100]

In [ ]:
# List comprehension with only even numbers pls :)

#### -----

In [ ]:
# .apply()

# multiply householde by 1000
# lowercase states
# sum two columns

In [ ]:
data['gender'].unique() # check the unique values in the column

array(['M', 'F', 'female', 'Male', 'U', 'J', 'male', 'Female', 'feamale'],
      dtype=object)

In [ ]:
data = data.dropna(subset=['gender'])

In [ ]:
def clean(x):
    if x.lower().startswith('m'):
        return 'Male'
    elif x.lower().startswith('f'):
        return 'Female'
    else:
        return 'Other'
    
data['gender'] = data['gender'].apply(clean)

data['gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

#### ------

In [ ]:
# Examples of working with datetime format:

file = pd.read_csv('df_final_web_data_pt_1.csv')  # index_col='Unnamed: 0'
file#.dtypes

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:27
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:26
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:19
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:19
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:18
...,...,...,...,...,...,...
204611,204611,9485108,14504433_98884916993,318172798_13131462074_1379,step_1,4/6/17 11:58
204612,204612,9485108,14504433_98884916993,318172798_13131462074_1379,step_3,4/6/17 11:56
204613,204613,9485108,14504433_98884916993,318172798_13131462074_1379,step_2,4/6/17 11:55
204614,204614,9485108,14504433_98884916993,318172798_13131462074_1379,step_1,4/6/17 11:54
204615,204615,9485108,14504433_,NaN,NaN,NaN

In [ ]:
file['date_time'] = pd.to_datetime(file['date_time'], errors='coerce')
file['date_time']

0        2017-04-17 15:27:00
1        2017-04-17 15:26:00
2        2017-04-17 15:19:00
3        2017-04-17 15:19:00
4        2017-04-17 15:18:00
                 ...
204611   2017-04-06 11:58:00
204612   2017-04-06 11:56:00
204613   2017-04-06 11:55:00
204614   2017-04-06 11:54:00
204615                   NaT
Name: date_time, Length: 204616, dtype: datetime64[ns]

In [ ]:
file['date_time'][0].day # .month   #.year   #.isoweekday() # .time()

17

In [ ]:
import time
from datetime import date

today = date.today()
today

datetime.date(2021, 1, 16)